@font-face {
  font-family: "NotoSansKR-Medium";
  src: local(※), url("NotoSansKR-Medium.otf") format("opentype");
}

* {
  font-family: "NotoSansKR-Medium";
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(45deg, black, #3e7cbc);
  height: 100vh;
}
