@font-face {
  font-family: "NotoSansKR-Medium";
  src: local(※), url("NotoSansKR-Medium.otf") format("opentype");
}

* {
  font-family: "NotoSansKR-Medium";
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg,#111d2a,#295582 );
  height: 100vh;
}
